.navbar .brand {
  color:#eee;
  text-shadow:#777777 0 1px 0;
  background:#232323;
}

.navbar-inverse .navbar-inner {
  
  background-color: #468847;
  background-image: -moz-linear-gradient(top, #468847, #409647);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#468847), to(#409647));
  background-image: -webkit-linear-gradient(top, #468847, #409647);
  background-image: -o-linear-gradient(top, #468847, #409647);
  background-image: linear-gradient(to bottom, #468847, #409647);
  background-repeat: repeat-x;
  border-color: #468847;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff468847', endColorstr='#ff409647', GradientType=0);
  color:#eee;
}

.navbar .nav > li > a {
  color:#eee;
  text-shadow:#ccc 0 0 0;
}

.navbar .operations > li > a {
  color:#1d2e7b;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #468847;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #468847;
}

.navbar-inverse .navbar-search .search-query {
  background-color:#dedede;
  border-color:#dedede;
  color:#111111;
}

.navbar-inverse .divider-vertical {
  border-right-color: #39436d;
  border-left-color: #20317d;
}

a, a:hover, .sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .summary-number {
	color: #468847;
}

ul.yiiPager > li > a{
	color: #468847!important;
	
}

ul.yiiPager .selected a {
  background-color: #468847;
  background-image: -moz-linear-gradient(top, #468847, #409647);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#468847), to(#409647));
  background-image: -webkit-linear-gradient(top, #468847, #409647);
  background-image: -o-linear-gradient(top, #468847, #409647);
  background-image: linear-gradient(to bottom, #468847, #409647);
  background-repeat: repeat-x;
  border-color: #468847;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff468847', endColorstr='#ff409647', GradientType=0);
  color:#DEDEDE !important;
  text-shadow:#CCCCCC 0 0 0;
  font-weight:bold;
}



table thead tr th{
background-color: #468847;
color: #eee;
}

.late{
  background: #EEB4B4;
  color: red !important;
  font-weight:bold;
}

.ob{
  background: #CCCC00;
  color: #232323 !important;
  font-weight:bold;
}

.ok{
  background: #659D32;
  color: #232323 !important;
  font-weight:bold;
}

.gogrey thead{


}
.items thead th{
   background:#468847!important;
}

.portlet .portlet-decoration{
  background:#468847!important;
  color:#eee;
}

.btn-default{
  background:#468847!important;
  color:#eee;
}

.btn-default:hover{
  color:#fff;
}

#emp_code{
  width: 550px!important;
}
#dtrform{
   width: 100%!important;
}

hint{
  color: green!important;
}

.green{
  color: green;
}



.round_background{
  background-attachment:scroll;
  background-color:transparent;
  /*background-image:url(../img/round-background.png);*/
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  color:#FFFFFF;
  display:inline-block;
  height:100px;
  width:100px;
  text-align:center;
  margin-bottom:10px;
  
}

.round_background img{
  margin-top:36px;
}

.round_background.pull-left,.pull-left.round_background{
  margin-right:20px;
}

.round_background.pull-right,.pull-right.round_background{
  margin-left:20px;
}

.r-grey {
  background-image:url(../img/backgrounds/circle_back_grey.png);
}

.r-green {
  background-image:url(../img/backgrounds/circle_back_green.png);
}

.r-yellow {
  background-image:url(../img/backgrounds/circle_back_yellow.png);
}

.r-red {
  background-image:url(../img/backgrounds/circle_back_red.png);
}

.r-orange {
  background-image:url(../img/backgrounds/circle_back_orange.png);
}

.r-blue {
  background-image:url(../img/backgrounds/circle_back_blue.png);
}

.r-grey-light {
  background-image:url(../img/backgrounds/circle_back_grey_light.png);

}

div.form > form  {
  padding-left: 10px;
  padding-right: 10px;
   /*background-color: #C1FFC1;*/
   border-top:2px solid #468847;
   border-bottom:2px solid #468847;
   border-left:2px solid #468847;
   border-right:2px solid #468847;
}


table.detail-view tr.odd {
    background: #C1FFC1;
}

.hero-unit {
  background-color: #434343;
  color: #eee;
}

.grid-view table.items tr.odd {
    background: rgba(154, 212, 154, 0.78);
}
.grid-view table.items tr.selected {
    background: #BCE774;
}

.grid-view table.items tr:hover.selected{
    background: #CCFF66;
}

h1{
  padding-left: 10px;
  background: #434343;
  color: #eee;
  border-radius: 4px;
}

.summary ul {
   list-style-type: none;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    overflow: hidden;
}


.summary ul > li  {
    display: inline-table;
    background-color: #dddddd;
    border-radius: 4px;
     border-top:2px solid #232323;
     border-bottom:2px solid #232323;
     border-left:2px solid #232323;
     border-right:2px solid #232323;
     
}

.summary ul > li span  {
     margin-left: 3px;
      margin-right: 3px;
}

tr.yellow
{
        background: #ffff66;
}
tr.orange
{
        background: #ffae19;
}
tr.green
{
        background: #C1FFC1;
}
tr.white
{
        background: #FFFFFF;
}
tr.red
{
        background: #ffcccc;
}

.btn-xlarge {
    padding: 20px 40px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.announcewindow{
  height: 500px!important;
}


.well {
    min-height: 100px;
    max-height: 1000px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.code_preview {
    background-color: #E0F888;
    border: 3px solid #868686;
    min-height: 100px;
   
}

.ui-accordion .ui-accordion-header {
    background-color: #468847;
    font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #eee;
    font-weight: bold;
    color: #555;
}

.announce{
   height: 400px;
}



div:has(#ui-id-1){
  background-color: #468847;
    font-weight: bold;
}




@font-face {
  font-family: 'SevenSegmentDisplay';
  src: url('/../fonts/DairyDash.eot');
  src: url('/../fonts/DairyDash.eot?#iefix') format('embedded-opentype'),
  url('/../fonts/DairyDash.woff') format('woff'),
  url('/../fonts/DairyDash.ttf') format('truetype');
}

#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 5px #00CC00;
  /*padding:40px;*/
  padding-bottom: 40px;
}
#server-time ul {
    /*width: 800px;*/
  width: 100%;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

#server-time ul li {
    display: inline;
    font-size: 11.5em;
    //text-align: center;
    /*font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;*/
  font-family: 'SevenSegmentDisplay', Arial, Helvetica, sans-serif;
  font-weight: bolder;
    text-shadow: 0 0 5px #00CC00;
  //text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.dd{font-size:1.5em; margin-left:6px;text-shadow: 0 0 5px #00CC00;}

.q-green
{
  background: #C1FFC1;
}
.q-red
{
  background: #f2dede;
}

.q-yellow
{
  background: #ffff00;
}

.q-orange
{
  background: #FFA500;
}

.q-txtred
{
  color: #ff0000;
}
.q-txtgreen{
  color: #C1FFC1;
}

.loader{
  padding:100px 50px;;
  text-align:center;
  color:#039;
}

.ui-dialog-titlebar{
  background: #468847;
}